@import url("/home/styles/dias-secao.css");
@import url("/home/styles/botoes-secao.css");
@import url("/home/styles/filme-secao.css");
@import url("/home/styles/horarios-secao.css");
@import url("/home/styles/banner-secao.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cursor {
    cursor: default;
}

.interact {
    cursor: pointer;
}

main {
    background-color: #181717;
}

.cb-light {
    display: flex;
    flex-direction: row;
    padding: 38px 30px 0 30px;
    background-color: white;
    gap: 85px;
    flex-wrap: wrap;
    justify-content: center;
}

.content-box {
    display: flex;
    flex-direction: row;
    padding: 38px 30px 0 30px;
    background-color: #181717;
    gap: 85px;
    flex-wrap: wrap;
    justify-content: center;
}

.template {
    display: none;
}

.filme-info-page1 {
    display: none;
}

.filme-info-page2 {
    display: none;
    height: 100%;

}

.page-ativo {
    display: block;
}