<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="filme-bg">
    </div>
    <div class="filme-main-info">
        <div class="filme-titulos">
            <div class="filme-estudio">WARNER BROS. PICTURES</div>
            <div class="filme-nome">DUNA</div>
        </div>
        <div class="filme-poster"></div>
    </div>
    <div class="filme-extra-info">
        <div class="filme-descricao">
            <div class="filme-diretor">
                <div class="diretor-intro">direção de</div>
                <div class="diretor-nome">DENIS VILLENEUVE</div>
            </div>
            <div class="filme-sinopse">
                <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque deleniti tenetur ipsam, consequatur
                    impedit, iusto in quis eligendi dolorem iste libero. Atque optio ut quae, rem adipisci aspernatur
                    voluptatum qui. </p>
            </div>
        </div>
        <div class="filme-trailer-box">
            <div class="trailer-btn">
                <div class="trailer-icon"></div>
                <h3 class="trailer-txt">trailer</h3>
            </div>
        </div>
        <div class="filme-bottom">
            <div class="filme-dados">
                <h3 class="filme-genero" style=" font-size: 16px; ">ficção científica</h3>
                <h3 class="filme-duracao" style=" font-size: 31px; ">125 min</h3>
                <h3 class="filme-pais" style=" font-size: 16px; ">Estados Unidos</h3>
            </div>
            <div class="filme-atores-box">
                <div class="filme-atores"></div>
                <div class="filme-atores"></div>
                <div class="filme-atores"></div>
                <div class="filme-atores"></div>
            </div>
        </div>
    </div>
</body>

</html>