@import url(./color-palette.css);

.sessao-horarios {
    background-color: var(--bg-main);
    display: flex;
    align-items: flex-end;
    position: relative;
    border-right: 2px solid var(--linhas);
}

.horarios-area {
    width: 100%;
    border-top: 2px solid var(--linhas);
    display: flex;
    justify-content: start;
    overflow-x: hidden;
    position: relative;
}

.btn-mais-horarios {
    height: 30px;
    width: 30px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

#btn-mh-a {
    top: 19px;
    z-index: 10;
    left: 6px;
}

#btn-mh-p {
    top: 19px;
    z-index: 10;
    right: 6px;
}

.salas-box {
    height: 73px;
    border-right: 2px solid var(--linhas);
    z-index: 1;
    position: relative;
}

.prim-sb {
    width: 73px;
    height: 73px;
    border-right: 2px solid var(--linhas);
    z-index: 1;
    position: relative;
}

.sala-titulo {
    height: 20px;
    width: 100%;
    margin-top: 2px;
    display: flex;
}

.sala-nome {
    color: rgb(133, 133, 133);
    margin-left: 10px;
    font: var(--rubik-one);
    width: 72px;
}

.sala-horas {
    height: 31px;
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #303030;
    gap: 2px;
}

.sala-lingua {
    height: 18px;
    width: 63px;
    background-color: var(--bg-lingua);
    margin: 0 0 0 10px;
    text-align: center;
    border-radius: 12px;
    font-family: var(--inder);
    font-size: 13px;
}

.leg {
    color: var(--txt-leg);
}

.dub {
    color: var(--txt-dub);
}

.sala-tipo {
    margin-left: -1px;
    margin-top: -5px;
    width: 40px;
    height: 20px;
}

.hora {
    width: 86px;
    height: 100%;
    text-align: center;
    padding-top: 3px;
    color: #0061d9;
    font-family: var(--inconsolata-f);
    font-size: 21px;
    /* margin: 0 3px 0 3px; */
    background-color: black;
}

.hora:hover {
    background-color: var(--txt-horario);
    color: white;
    text-shadow: 0px 0px 5px white;
    box-shadow: 0 0 9px var(--txt-horario);
}

.horas-bg {
    height: 35px;
    width: 100%;
    background-color: var(--linhas);
    position: absolute;
    top: 25px;
    z-index: -1;
}

.hb-atv {
    background-color: var(--txt-horario);
    color: white;
    text-shadow: 0px 0px 5px white;
    box-shadow: 0 0 9px var(--txt-horario);
}

.hora-dtv {
    color: #183448;
}

.btn-on {
    display: block;
}

.btn-off {
    display: none;
}

.icon-salas {
    width: 20px;
    border-radius: 50%;
    background-color: white;
    padding: 3px;
}

.icon-sala-avancar {
    transform: rotate(180deg);
}

.hora-off {
    display: none;
}

.sala-off {
    display: none;
}

#dois-de {
    display: none;
}